<!DOCTYPE html>
<html>
<head>
  <title>URL Shortener</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
